/* CSS declarations go here */
body{
  font-family: "RalewayRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
}

.p0{
  padding: 0;
}

/*SECTION TITLE*/

.section_title{
  text-align: center;
  margin-bottom: 25px;
}
.section_title i{
  font-size: 50px;
  color: #4ea7dd;
}
.section_title h3{
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
}

/*BUTTONS*/

.my_btn{
  background-color: #acacac;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}
.btn_md{
  padding: 8px 24px;
}
.btn_lg{
  padding: 15px 50px;
}
.soc_btn_white{
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.soc_btn_gray{
  border: 1px solid #c6cacc;
  color: #c6cacc;
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.btn_modal{
  margin: 6px 0;
}
.btn_next{
  margin: 6px 0;
}
.next_button{
  text-align: center;
  margin: 20px 0;
}
