#start
  height 850px
  -webkit-background-size: cover
  background-size: cover
  @media screen and (max-width: 500px)
    height: 600px
.title_block
  color: #ebebeb
  text-align: center
  margin: 260px 200px
  &:hover
    .edit-bgimage
    .edit-start
      opacity 1
  @media screen and (max-width: 1000px)
    margin 150px 100px
  @media screen and (max-width: 800px)
    margin 120px 70px
  @media screen and (max-width: 500px)
    margin 100px 10px
.title_block h3
  font-size: 30px
  font-family: 'RalewayRegular', sans-serif
  margin-bottom: 30px

.title_block p
  font-size: 15px
  margin-bottom: 50px

.title_block img
  width: 100px
  height: 110px
  margin: 0 auto
  opacity: 0.5
.edit-bgimage
.edit-start
  position relative
  font-size 1.5em
  opacity 0
  transition opacity .3s
  cursor pointer
  color white
  margin 5px
.add-bg-img
  display none
