.contacts{
}
.contacts_inner{
  margin-top: 20px;
  text-align: center;
}
.contacts_inner i{
  font-size: 36px;
  color: #c5c5c5;
  margin-bottom: 12px;
}
.contacts_inner span{
  text-transform: uppercase;
  font-family: "RalewayRegular", sans-serif;
  font-size: 18px;
  color: #b4b4b4;
}
.contacts_inner a{
  color: #000;
  color: #303030;
}
