#contacts
  .contacts_inner
    margin-top: 20px
    text-align: center
    .contact-block
      margin-top 60px
      &:hover
        .remove-contact
          display block
    .contact
      transition box-shadow .3s
      padding 10px
      min-height 130px
      span
        text-transform: uppercase
        font-family: "RalewayRegular", sans-serif
        font-size: 18px
        color: #b4b4b4
      i
        font-size: 36px
        color: #c5c5c5
        margin-bottom: 12px
      .href
        margin 10px
        // opacity 0
        transition opacity .3s
      &:hover
        box-shadow: 0 0 10px rgba(0,0,0,0.2)
        .remove-contact
        .move-block
        .edit-contact
        // .href
          opacity 1
      .remove-contact
      .edit-contact
      .move-block
        transition opacity .3s
        display block
        position absolute
        top 5px
        padding 5px
        opacity 0
        cursor pointer
        font-size: 1.5em
      .remove-contact
        color red
        right 5px
      .edit-contact
        color #2aa6e0
        right 35px
      .move-block
        color #2aa6e0
        left 5px

  .add-contact
    transition opacity .3s
    opacity 0.5
    height 110px
    line-height 110px
    border-radius 10px
    border dashed 3px #888
    cursor pointer
    margin 10px
    &:hover
      opacity 1
