.contacts_inner
  margin-top: 20px
  text-align: center
  i
    font-size: 36px
    color: #c5c5c5
    margin-bottom: 12px
  span
    text-transform: uppercase
    font-family: "RalewayRegular", sans-serif
    font-size: 18px
    color: #b4b4b4
  a
    color: #000
    color: #303030
  form
    margin 20px
    padding 20px
    border 2px dotted gray
  .contact-block
    margin-top 60px
    &:hover
      .remove-contact
        display block
  .remove-contact
    display block
    position absolute
    color red
    font-size: 1.5em
    left 80px
    top -15px
    display none
    cursor pointer
.edit
  padding 3px
  transition all .3s;
  border 1px dotted rgba(82, 168, 236, .5)
  &:focus
    border 1px dotted rgba(82, 168, 236, 1)
    box-shadow 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(82,168,236,0.9)
    outline 0 none
#loader
  position fixed
  display none
  top 0px
  left 0px
  height 100%
  width 100%
  background #f2f2f2
  opacity 0.9
  z-index 30
  span
    display block
    background url('/img/load.gif') no-repeat
    width 128px
    height 15px
    position absolute
    left 50%
    top 50%
    margin -7px 0 0 -56px

#mes-edit
  display none
  color #000
  font-size 15px
  border 1px solid #c5c5c5
  box-shadow 0 0 10px #c5c5c5
  padding 10px
  text-align center
  width 400px
  position fixed
  left 50%
  top 50%
  margin -20px 0 0 -200px
  font-weight bold
  background #fff
