#report
  margin-top 120px
  .photo
    &:hover
      .remove
        display block
  .remove
    position absolute
    color red
    font-size: 1.5em
    right 20px
    top 5px
    // display none
    cursor pointer
#dropzone-block
  margin 50px
.pswp
  img
    width 60%
    position absolute
    top -25%
    left -20%
    height auto
