#report
  margin-top 120px
  .img-block
    &:hover
      .remove
        display block
  .remove
    position absolute
    color red
    font-size: 1.5em
    right 20px
    top 5px
    display none
    cursor pointer
#dropzone-block
  margin 50px
.img-block
    margin-top 30px
    max-height 240px
    overflow hidden
