header
  height 0px
  nav
    background-color: rgba(150, 150, 150, 0.3);
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  .menu
    list-style-type: none;
    margin: 0;
    padding: 0;
    li
      display: inline-block;
      padding: 0 30px;
      a
        color: #fff;
        text-transform: uppercase;
        font-family: 'RalewayBold', sans-serif;
        cursor pointer
        transition color .2s
        &:hover
        &:focus
          text-decoration: none;
          color: #487ab4;
  .logo
    padding-top: 35px;
  @media screen and (max-width: 768px)

    nav{
      background-color: rgba(150, 150, 150, 0.5);
      height: 60px;
      line-height: 60px;
      position: fixed;
    }
    .logo
      padding-top: 20px;
      padding-left 0
    .menu_btn
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: #fff;
    .menu_btn span{
      top: -15px;
    }
    #top_menu{
      background-color: rgba(150, 150, 150, 0.9);
      padding: 20px 0;
      margin-top: 4px;
    }
    .menu li{
      display: block;
      text-align: center;
    }
    .menu li a{
      display: block;
    }
    .menu li a:hover{
      background-color: #fff;
      color: #000;
    }
