header
  height 120px
  nav
    background-color: rgba(150, 150, 150, 0.3);
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  .menu
    list-style-type: none;
    margin: 0;
    padding: 0;
    li
      display: inline-block;
      padding: 0 30px;
      a
        color: #fff;
        text-transform: uppercase;
        font-family: 'RalewayBold', sans-serif;
        cursor pointer
        transition color .2s
        &:hover
        &:focus
          text-decoration: none;
          color: #487ab4;
  .logo
    padding-top: 35px;

  .title_block
    color: #ebebeb;
    text-align: center;
    margin: 180px 200px;
    @media screen and (max-width: 1000px)
      margin 150px 100px
    @media screen and (max-width: 800px)
      margin 120px 70px
    @media screen and (max-width: 500px)
      margin 100px 10px
  .title_block h3{
    font-size: 30px;
    font-family: 'RalewayRegular', sans-serif;
    margin-bottom: 30px;
  }
  .title_block p{
    font-size: 15px;
    margin-bottom: 50px;
  }
  .title_block img
    width: 100px;
    height: 110px;
    margin: 0 auto;
    opacity: 0.5;

  @media screen and (max-width: 768px)

    nav{
      background-color: rgba(150, 150, 150, 0.5);
      height: 60px;
      line-height: 60px;
      position: fixed;
    }
    .logo
      padding-top: 20px;
      padding-left 0
    .menu_btn
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: #fff;
    .menu_btn span{
      top: -15px;
    }
    #top_menu{
      background-color: rgba(150, 150, 150, 0.9);
      padding: 20px 0;
      margin-top: 4px;
    }
    .menu li{
      display: block;
      text-align: center;
    }
    .menu li a{
      display: block;
    }
    .menu li a:hover{
      background-color: #fff;
      color: #000;
    }
