.team_item
  margin-top 20px
  img
    border-radius 10000px
  h4
    color: #000
  span
    text-transform: uppercase
    color: #e84545
    font-size: 12px
    text-align left
  p
    font-size 14px
    padding 10px 0
    text-align left
  a
    text-decoration none
.report-list
  margin 60px
  @media screen and (max-width: 768px)
    margin 40px 0
