.about_block
  padding: 95px 0
.about_text
  p
    background-color: rgba(200, 200, 200, 0.3)
    padding: 30px 30px
    margin: 0 150px
    font-size: 16px
    font-family: 'RalewayRegular', sans-serif
    color: #5b5b5b
    @media screen and (max-width: 1000px)
      margin 150px 100px
    @media screen and (max-width: 800px)
      margin 120px 70px
    @media screen and (max-width: 500px)
      margin 100px 10px
  .edit-about
    position relative
    font-size 1.5em
    // right 0px
    // top 40px
    opacity 0
    transition opacity .3s
    cursor pointer
    color #2aa6e0
  &:hover
    .edit-about
      opacity 1
