.pull-right
#signup-link
  display none
#login-buttons-password
  background-color rgba(0, 0, 0, 0.7)
  border none
  border-radius 0px
#login-password
#login-username
  background-color rgba(255, 255, 255, 0.5)
  border-color gray
  box-shadow none
  border-radius 0px
.alert
  background-color rgba(255, 255, 255, 0.5)
  border none
  box-shadow none
  border-radius 0px
  padding 0px
  text-align left
  line-height 2
.dropdown-toggle
  color gray
