/*TEAM SECTION*/

#team
  padding: 150px 0 65px 0;
  color: #6c7279;
  .photo
    background-size cover
    width 100%
    padding-bottom 100%
    border-radius 50%
  .person
    text-align: center
    .remove-person
    .move-block
    .edit-person
      position absolute
      font-size 1.5em
      right 5px
      top 5px
      opacity 0
      transition opacity .3s
      cursor pointer
    .edit-person
      right 35px
      color #2aa6e0
    .remove-person
      color red
    .move-block
      color #2aa6e0
      top 35px
    &:hover
      .edit-person
      .remove-person
      .move-block
        opacity 1
    h4
      font-family: "RalewayBold", sans-serif;
      color: #000;
    span
      text-transform: uppercase;
      color: #e84545;
      font-size: 12px;
    p
      font-size: 14px;
      padding: 10px 0;
      text-align: left;
  .team-btns
    text-align: left;
    height 45px
    a
      text-decoration none

  .add-person
    text-align center
    transition opacity .3s
    opacity 0.5
    height 250px
    line-height 250px
    border-radius 10px
    border dashed 3px #888
    cursor pointer
    margin 10px
    &:hover
      opacity 1
