/*TEAM SECTION*/

#team
  padding: 150px 0 65px 0;
  color: #6c7279;
  .photo
    background-size cover
    width 100%
    padding-bottom 100%
    border-radius 50%
  .team-item
    text-align: center
    h4
      font-family: "RalewayBold", sans-serif;
      color: #000;
    span
      text-transform: uppercase;
      color: #e84545;
      font-size: 12px;
    p
      font-size: 14px;
      padding: 10px 0;
      text-align: left;
  .team-btns
    text-align: left;
    height 45px
    a
      text-decoration none
  .form-team
    padding 30px
    text-align left
    #inp_file
      display none
    #net-link
      display none
.modal-btn
  position absolute
  margin-top 50%
  
