
.copyright_block
  margin-top: 40px;
  background-color: #575757;
  text-align: center;
  padding: 50px 0;

.copy_txt
  padding-top: 77px;
  color: #fff;
  font-family: "RalewayRegular", sans-serif;
  font-size: 14px;
