#reports
  .report-block
    position relative
    cursor pointer
    background-size cover
    text-align center
    max-height 250px
    overflow hidden
    @media screen and (max-width: 1150px)
      max-height 220px
    @media screen and (max-width: 990px)
      max-height 250px
    @media screen and (max-width: 750px)
      max-height 100px
    > *
      text-decoration none !important
      .report-cover
        height 100%
        width 100%
    .remove-report
    .move-block
    .edit-report
      position absolute
      font-size 1.5em
      color #888
      right 5px
      top 5px
      opacity 0
      transition opacity .3s
      cursor pointer
      z-index 99999999
    .remove-report
      color red
    .edit-report
      color #2aa6e0
      right 35px
    .move-block
      color #2aa6e0
      top 35px
    &:hover
      .edit-report
      .remove-report
      .move-block
        opacity 1
    .image-wrap
      transition opacity .3s
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color rgba(69,69,69,.3)
      display flex
      opacity 0.7
      @media screen and (max-width: 750px)
        font-size 7pt
        opacity 0.7
        background-color rgba(69,69,69,.3)
      .description
        display none
        font-size 10pt
        @media screen and (max-width: 750px)
          font-size 7pt
      .work-descr
        color: #fff
        margin: 40px auto
        opacity: 1
        @media screen and (max-width: 750px)
          margin 20px auto
        h4
          @media screen and (max-width: 750px)
            font-size 8pt
    &:hover
      .image-wrap
        opacity: 1;
        background-color rgba(69,69,69,.4)
      .description
        display block
  .add-report
    text-align center
    transition opacity .3s
    opacity 0.5
    height 250px
    line-height 250px
    border-radius 10px
    border dashed 3px #888
    cursor pointer
    margin 10px
    &:hover
      opacity 1
